@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div id="CalculatorBox">
        <label id="lbl_result">Result: </label><br />
        <input type="text" id="txt_input" name="input" value="Math input"><br>
        <button id="btn_calculate" asp-page-handler="GenerateWebName">Calculate</button><br /><br />
    </div>
</div>
